$black: #000;
$black-title: #212529;
$bright-orange: #f87f46;
$light-gray: #ccc;
$dark-gray: #343a40;
$vivid-yellow: #daff01;
$light-violet: #9353ff;
$soft-red: #ee6471;
$white: #fff;

$font-family-inter: "Inter", sans-serif;
