@use "variables" as v;
@use "mixins" as m;

.newsletter {
  padding: 1.813rem;
  max-width: 90rem;
  margin: 0 auto;

  @media only screen and (min-width: 768px) {
    padding: 2.5rem;
  }
}

.newsletter__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  border: 1px solid v.$black;

  @media only screen and (min-width: 768px) {
    padding: 2.5rem;
  }

  @media only screen and (min-width: 1024px) {
    max-width: 45.625rem;
    margin: 0 auto;
    padding: 1.5rem 0;
  }

  &-text {
    text-align: center;
    color: v.$black-title;
    font-size: 1rem;
    line-height: 1.438rem;

    @media only screen and (min-width: 768px) {
      font-size: 1.25rem;
      max-width: 35.625rem;
      margin: 0 0 1.5rem;
    }

    @media only screen and (min-width: 1024px) {
      max-width: 100%;
    }
  }

  &__form {
    display: flex;

    @media only screen and (min-width: 768px) {
      width: 27.5rem;
    }

    @media only screen and (min-width: 1024px) {
      width: 33.75rem;
    }

    &-input {
      width: 100%;
      border: 1px solid v.$black;
      padding: 0.5rem 1rem;
      outline: none;
    }

    &-btn {
      @include m.button-search(
        v.$light-violet,
        v.$light-violet,
        v.$white,
        500,
        0.457px
      );

      @media only screen and (min-width: 768px) {
        padding: 0.563rem 1rem;
      }
    }
  }
}
