@use "variables" as v;
@use "mixins" as m;

.products {
  padding: 1.5rem 1.7rem 3rem;
  max-width: 90rem;
  margin: 0 auto;

  @media only screen and (min-width: 768px) {
    padding-top: 0;
  }

  @media only screen and (min-width: 1024px) {
    // padding-left: 10rem;
    // padding-right: 10rem;
    // padding-bottom: 5.25rem;
    padding: 1.5rem 10rem 5.25rem;
  }
}

.products__title {
  color: v.$black-title;
  text-align: center;
  margin: 0 0 1.5rem;
  font-size: 1.75rem;
  font-weight: 500;

  @media only screen and (min-width: 768px) {
    margin-bottom: 2rem;
  }

  @media only screen and (min-width: 1024px) {
    font-size: 2rem;
  }
}

.products__container {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  align-items: center;

  @media only screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem 1.875rem;
  }

  @media only screen and (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
    align-items: unset;
  }

  &__card {
    border: 1px solid rgba(0, 0, 0, 0.13);
    max-width: 21.875rem;

    &-img {
      width: 100%;

      @include m.img-show(768px, none);
    }

    &-imgTablet {
      display: none;
      width: 100%;

      @include m.img-show(768px, block);
      @include m.img-show(1024px, none);
    }

    &-imgDesktop {
      display: none;
      width: 100%;

      @include m.img-show(1024px, block);
    }

    & > div {
      padding: 1.5rem;
      display: flex;
      flex-direction: column;
      align-items: start;

      @media only screen and (min-width: 768px) {
        padding: 0.813rem 1rem 1rem;
      }
    }

    &-title {
      color: v.$black-title;
      font-size: 1rem;
      font-weight: 700;
      line-height: 1.438rem;
      margin: 0 0 1rem;
    }

    &-text {
      color: v.$black-title;
      font-size: 0.813rem;
      line-height: 20px;
      text-align: start;
      margin: 0 0 1rem;
      font-weight: 400;
    }

    &-span {
      color: v.$black-title;
      font-size: 1rem;
      font-weight: 700;
      line-height: 1.438rem;
      margin: 0 0 0.625rem;
    }

    &-btn {
      padding: 0.563rem 1rem;
      background-color: v.$light-violet;
      border: none;
      color: v.$white;
      font-size: 1rem;
      font-weight: 500;
      letter-spacing: 0.03rem;
    }
  }
}
